body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*HEADER (BARRA DE NAVEGACION)*/
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.barra-navegacion {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    float: right;
}

header li{
    list-style-type: none;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

header li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header li a:hover {
    color: #ffc107;
}

.logo img {
    width: 100px;
    height: auto;
    display: block; 
    margin-top: -10px; 
}

.menu-toggle {
    display: none; 
}

.drop-down-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 63px;
    width: 200px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow:hidden;
    transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-down-menu li{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-down-menu.open{
    height: 136px;
}

@media screen and (max-width: 675px) {
    nav {
        display: none; 
    }

    .barra-navegacion{
        justify-content: space-between;
    }

    .menu-toggle {
        display: block; 
    }

    .drop-down-menu{
        display: block;
    }

}

/*MAIN (CONTENIDO)*/

.menu {
    position: fixed;
    top: auto;
    left: 200px;
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    background-color: aquamarine;
    overflow-y: auto;
}

.menu h2 {
    padding-left: 20px;
    margin: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

.menu ul li a:hover {
    background-color: #ddd;
}

.main-content {
    padding-left: 30px;
}

.content {
    display: flex;
    padding-top: 63px;
    justify-content: center;
}

p {
    width: 35%;
    margin: 0 auto; 
    text-align: justify; 
}

h2{
    width: 35%;
    margin: 20px auto 10px; 
}

article h3 {
    width: 30%;
    margin: 20px auto 5px; 
}

article p{
    width: 30%;
    margin: 0 auto; 
    text-align: justify;
}